<div class='light-bg'>
<%= render partial: "shared/user", locals: {user: @user} %>
<div class="p-2">
<h3>Bio</h3>
<%= @user.bio  %>
</div>
</div>
<div class="m-2">
<% @recent_posts.each do |post| %>
    <%= link_to user_post_path(@user.id, post.id), class: 'link text-dark' do %>
       <%= render partial: "shared/post", locals: {post: post} %> 
    <%end%>
<%end%>
</div>
 <div class="d-flex justify-content-center">
 <%= link_to "See all posts", user_posts_path(@user.id), class: ' text-center justify-self-center btn btn-dark' %>
 </div>
