<%= form_with(model: @post, url: posts_path) do |f| %>

  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'title', class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= f.label :text %>
    <%= f.text_area :text, size: "60x10", placeholder: 'text', class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= f.submit "Add post", class: 'btn btn-dark' %>
  </div>
<% end %>
