<div class="position-relative">
    <div>
        <h1><%=@post.title%> by <%=@post.author.name%></h1>
        <div class="top-corner">
            <span>Comments: <%= @post.comments_count %></span>
            <span>Likes: <%= @post.likes_count %></span>
        </div>
    </div>
    <p><%=@post.text%></p>
    <div>
        <div class='d-flex justify-content-end'>
            <%= button_to "Delete Post", post_path, method: :delete, class:'btn btn-dark mx-3' %>
            <%= button_to "Like", likes_path, class:'btn btn-dark mx-3' %>
            <%= link_to "Add comment", new_comment_path, class:'btn btn-dark' %>
        </div>
        <%if @post.comments_count == 0 %>
            <p><strong>No comments were posted.</strong></p>
        <%else%>
            <h4>Comments</h4>
            <%@comments.each do |comment|%>
                <%= render partial: "shared/comment_view", locals: {comment: comment} %>
            <%end%>
        <%end%>
    </div>
</div>
